#root {
    max-width: 1440px;
    width: 100%;
    justify-self: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    color: white;
}

body {
    background-color: #170821;
}

button {
    background-color: #a67bf5;
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
